/* set styling for page */
html {
  font-family: "Roboto Condensed", sans-serif;
}
* {
  font-size: 62.5%;
}
/* create Styling for header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: gray;
  height: 6rem;
}

.header h2 {
  font-family: "Roboto Condensed", sans-serif;
  padding: 1.5rem;
  font-size: 2rem;
}
/* create styling for main area */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test-questions {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
.answer-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.75rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

input {
  border: 0.5rem;
}

p {
  padding: 1rem;
  font-size: 1rem;
}
button {
  font-size: 1rem;
  background: burlywood;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 1rem;
  width: 10%;
}

/* creat styling for question text */
/* create styling for answer prompts */
/* create styking for final score page */
